.btn-hamb-menu{
    width: 3.125rem;
    height: 50px;
    position: fixed;
    right: 5px;
    bottom: 25px;
    border-radius: 50%;
    background-color: var(--color-principal);
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.menu-svg{
    fill: var(--color-secundario);
}

@media (min-width: 768px) {
    .btn-hamb-menu{
        height: 0;
        overflow: hidden;
    }
}