.div-proyecto {
  width: 100%;
  height: fit-content;
  outline: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  background-color: #000000;
  color: var(--color-secundario);
  border-radius: var(--border-radius);
  padding: 0 16px 16px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.994);
  }
  100% {
    transform: scale(1);
  }
}

.proyecto-img {
  /* animation: pulse 0.8s ease-in infinite; */
  border-radius: var(--border-radius);
  object-fit: cover;
  outline: 1px solid rgba(255, 255, 255, 0.229);
}

.proyecto-h3-nombre{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-bottom:15px;
}

.datos-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
}

.iconLink {
  filter: invert(100%);
  width: 25px;
  height: 25px;
}


.links-a-btn-datos-proyecto{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  outline: 1px solid white;
  border-radius: var(--border-radius);
  padding: 16px;
  transition: background-color 0.3s ease;
  text-align: left;
}
.links-a-btn-datos-proyecto:hover{
  background-color: rgba(118, 118, 118, 0.448);
}

@media (max-width: 1023px) {
  /* Estilos para pantallas más pequeñas, como dispositivos móviles */
  .proyecto-img{
    width: 100%;
    animation: pulse 0.8s ease-in infinite;
  }

  .proyecto-datos{
    padding: 25px 0;
  }

  .datos-links{
    flex-direction: column;
  }

  .links-a-btn-datos-proyecto{
    width: 100%;
  }
  .proyecto-h3-nombre{
    height: 60px;
  }
}

@media (min-width: 1024px){
  .proyecto-img{
    width: 40%;
  }

  .proyecto-datos{
    width: 60%;
    padding: 0 25px;
  }
}


/* .proyecto-img {
  min-height: 14.8125rem;
  object-fit: cover;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.proyecto-datos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap);
  margin: 25px;
}

.proyecto-datos > p {
  text-align: justify;
}

.proyecto-datos > h3 {
  width: 100%;
  font-weight: bold;
}

.datos-links {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--gap);
}

.iconLink {
  filter: invert(100%);
  animation: bounce 0.6s infinite alternate;
}

@media screen and (max-width: 768px) {
  .div-proyecto {
    flex-wrap: wrap;
  }
  .proyecto-datos > h3 {
    text-align: center;
  }

  .proyecto-datos{
    height: 0;
    overflow: hidden;
    transition: all 1s ease-in;
    display:none;
  }

  .activoPD {
    height: fit-content;
    display: flex;
  }

  .proyecto-img {
    max-width: 100%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .div-proyecto {
    flex-wrap: wrap;
  }
  .proyecto-datos > h3 {
    text-align: center;
  }
  .proyecto-img {
    max-width: 100%;
    width: 100%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
}

@media (min-width: 1024px) {
  .proyecto-datos {
    flex-grow: 1;
  }
  .proyecto-img {
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    width: 300px;
  }
} */
